[submodule "tf_ctpn"]
	path = tf_ctpn
	url = https://github.com/zergmk2/tf_ctpn.git
	branch = cpu_branch
[submodule "tf_crnn"]
	path = tf_crnn
	url = https://github.com/Sanster/tf_crnn.git
[submodule "models"]
	path = models
	url = https://github.com/Sanster/models.git
